@main-color:#4e4e4e;
@active-color:#88b9b9;
@text-color:#ababab;
.footer-style{
	color:@text-color;
	text-align:center;
	padding:40px 0;
}
body{
	width:100%;
	font-size:100%;
	font-family:'Dosis';
}
@font-face{
	font-family:'Dosis';
	src: url(../fonts/Dosis-Book.ttf);
}
a{
	text-decoration: none;
	color:@main-color;
}
/*header*/
.logo{
	position:relative;
	width:4.375%;
	margin:4.5% auto 30px;
	img{
		width:100%;
	}
	#bird{
		position:absolute;
		width:60%;
		bottom:15%;
		left:23%;
	}
}
.top{
	background:#f2f2f2;
	padding:23px 0;
}
.top-menu{
	margin:0 0 0 5%;
	text-align: center;
	li{
		display:inline-block;
		margin-right:4%;
		line-height:1.5em;
		a{
			text-transform:uppercase;
			letter-spacing: 0.07em;
			&:hover{
				color:@active-color;	
			}
		}
	}
}
.last{
	margin-right:0;
}
.active{
	color:@active-color;
}
/*main*/
.wrapper{
	width:73.125%;
	margin:0 auto;
}
.top-image{
	margin-top:40px;
	img{
		width:100%;
	}
}
.greetings{
	text-align:center;
	margin-top:40px;
	h2{
		font-size:1.6em;
		color:@main-color;
		margin-bottom:20px;
	}
	p{
		color:#5c5c5c;
		font-size:1.3em;
		font-weight:100;
		line-height:1.3em;
	}
}
.shots{
	text-transform: uppercase;
	margin-top:60px;
	font-weight:bolder;
	color:@main-color;
	h3{
		float:left;
		font-size:0.9em;
		span{
			color:@active-color;
			margin-right:3%;
		}
	}
}
.main-menu{
	float:right;
	text-align: right;
	margin-bottom: 25px;
	li{
		display: inline-block;
		font-size:0.7em;
		text-align:center;
		a:hover{
				color:@active-color;
		}
	}
}
.slash{
	margin:0 1.2em;	
}
//figure {
//	clear:both;
//	padding-top:25px;
//	img{
//		display:inline-block;
//		//vertical-align:top;
//	}
//}
//.row{
//	display: -webkit-box;
//	display: -webkit-flex;
//	display: -ms-flexbox;
//	display: flex;
//}
//.column{
//	width:35%;
//	display:inline-block;
//	img{
//		width:100%;
//	}
//}
table{
	width:100%;
	clear:both;
	border-spacing:10px;
	td{
		vertical-align: top;
		//padding:0 1%;
	}
	img{
		width:100%;
		display: block;
		padding-bottom: 7px;
	}
}
/*instagram*/
.instagram{
	//text-align:center;
	background:#f7f7f7;
	padding:0 13.5%;
	img{
		display:block;
		float:left;
		margin-right:1%;
		width:24%;
	}
}
/*pre-footer*/
.pre-footer{
	.footer-style;
	clear:both;
	padding:70px 0;
	background:#1e1f20;
	h3{
		text-transform:uppercase;
		color:#eaeaea;
		font-weight:bolder;
		margin-bottom:25px;
		span{
		color:@active-color;
		}
	}
	p{
		line-height:1.5em;
	}
}
.social{
	text-align: center;
	margin:35px 0;
	a{
		display:inline-block;
		margin-right:.15%;
		-webkit-transition:all .5s;
		transition:all .5s;
		&:hover{
			-webkit-transform:translateY(-5px);
			-ms-transform:translateY(-5px);
			transform:translateY(-5px);
		}
	}
}
/*footer*/
footer{
	background:#1a1a1b;
	.footer-style;
}